[defaults]
inventory          = inventories/localhost
roles_path         = roles
interpreter_python = auto_silent
stdout_callback    = yaml
callbacks_enabled  = profile_tasks
gathering          = smart
fact_caching            = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout    = 86400
retry_files_enabled     = false

[privilege_escalation]
become        = true
become_method = sudo
